@Scripts.Render("~/bundles/jqueryform")
@Scripts.Render("~/bundles/jcrop")
@Scripts.Render("~/bundles/uploadImage")
@Styles.Render("~/Content/jcrop")
@Styles.Render("~/Content/uploadImage")
<section id="avatar-upload-box">
    @using (Ajax.BeginForm("_Upload", "Questionnaire",
                new AjaxOptions() { HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()

        <img id="VoteImage" src="~/Content/images/400x400placeholder.gif" class="img-responsive" />
        <input id="inputImage" type="file" name="files" onchange=" previewImage(1) " />
    }
</section>
<section id="avatar-crop-box" class="hidden">
    <p>
        <img src="" id="crop-image-target" alt="Uploaded image" />
        <div id="preview-pane">
            <div class="preview-container">
                <img src="" class="jcrop-preview" />
            </div>
        </div>
    </p>
    <p><button class="btn btn-default" onclick=" saveAvatar() ">Save Avatar</button></p>
</section>
<div id="avatar-result" class="hidden">
    <img src="" alt="Final Image" />
</div>