@model PagedList.IPagedList<Repository.Models.Questionnaire>
@using PagedList.Mvc;
@Scripts.Render("~/bundles/vote")

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5&appId=1698660540370782";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    @{
                        Repository.Models.DCContext db = new Repository.Models.DCContext();
                        var suma = item.Vote1.VotedUsers.Count + item.Vote2.VotedUsers.Count;
                        decimal vote1Procentage = 0;
                        decimal vote2Procentage = 0;
                        decimal vote1 = 0;
                        decimal vote2 = 0;
                        if (suma != 0)
                        {
                            vote1 = item.Vote1.VotedUsers.Count;
                            vote2 = item.Vote2.VotedUsers.Count;
                            vote1Procentage = (decimal)vote1 / (decimal)suma * 100;
                            vote2Procentage = (decimal)vote2 / (decimal)suma * 100;
                        }
                    }
                    @if (item.Vote1.VotedUsers.Where(x => x.UserId.ToString() == ViewBag.CurrentUserId).Count() == 0 && item.Vote2.VotedUsers.Where(x => x.UserId.ToString() == ViewBag.CurrentUserId).Count() == 0)
                    {
                        <div id="@Html.DisplayFor(modelItem => item.QuestionnaireId)" class="panel panel-default">
                            <div id="QuestionnaireTitle" class="panel-heading text-center">
                                <h3>
                                    @Html.ActionLink(item.Title, "Details", new { id = item.QuestionnaireId }, new { @id = "questionnaireTitle" })
                                </h3>
                            </div>
                            <div class="panel-body">
                                <a id="deleteIcon" href="@Url.Action("Delete", "Questionnaire", new { id = item.QuestionnaireId })">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="thumbnail">
                                            <img id="VoteImage1" src="@Html.DisplayFor(modelItem => item.Vote1.Image)" class="img-responsive" style="outline:1px solid gray;" />
                                            <div class="caption text-center">
                                                <div>
                                                    <button id="voteBtn1" class="btn btn-success btn-block" onclick=" vote('@Html.DisplayFor(modelItem => item.Vote1Id)') ">
                                                        <b>
                                                            @Html.DisplayFor(modelItem => item.Vote1.VoteTitle)
                                                        </b>
                                                    </button>
                                                    <div id="resultVote@(Html.DisplayFor(modelItem => item.Vote1Id))" class="hidden">
                                                        <b>
                                                            @Html.DisplayFor(modelItem => item.Vote1.VoteTitle)
                                                        </b>
                                                        <p>
                                                            @Html.DisplayFor(modelItem => item.Vote1.VotedUsers.Count)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="thumbnail">
                                            <img id="VoteImage2" src="@Html.DisplayFor(modelItem => item.Vote2.Image)" class="img-responsive" style="outline:1px solid gray;" />
                                            <div class="caption text-center">
                                                <div>
                                                    <button id="voteBtn2" class="btn btn-danger btn-block" onclick=" vote('@Html.DisplayFor(modelItem => item.Vote2Id)') ">
                                                        <b>
                                                            @Html.DisplayFor(modelItem => item.Vote2.VoteTitle)
                                                        </b>
                                                    </button>
                                                    <div id="resultVote@(Html.DisplayFor(modelItem => item.Vote2Id))" class="hidden">
                                                        <b>
                                                            @Html.DisplayFor(modelItem => item.Vote2.VoteTitle)
                                                        </b>
                                                        <p>
                                                            @Html.DisplayFor(modelItem => item.Vote2.VotedUsers.Count)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="likeShareFb" class="text-center">
                                        <div class="fb-like" data-href="@Request.Url.GetLeftPart(UriPartial.Path)Questionnaire/Details/@item.QuestionnaireId" data-width="100%" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="@Html.DisplayFor(modelItem => item.QuestionnaireId)" class="panel panel-default">
                            <div id="QuestionnaireTitle" class="panel-heading text-center">
                                <h3>
                                    @Html.ActionLink(item.Title, "Details", new { id = item.QuestionnaireId }, new { @id = "questionnaireTitle" })
                                </h3>
                            </div>
                            <div class="panel-body">
                                <a id="deleteIcon" href="@Url.Action("Delete", "Questionnaire", new { id = item.QuestionnaireId })">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="thumbnail">
                                            <img id="VoteImage1" src="@Html.DisplayFor(modelItem => item.Vote1.Image)" class="img-responsive" style="outline:1px solid gray;" />
                                            <div class="caption text-center">
                                                <div>
                                                    <div id="resultVote@(Html.DisplayFor(modelItem => item.Vote1Id))">
                                                        <b>
                                                            @Html.DisplayFor(modelItem => item.Vote1.VoteTitle)
                                                        </b>
                                                        <p>
                                                            @Html.Raw("" + @vote1 + " ( "+ decimal.Round(vote1Procentage,1) + "% )")
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="thumbnail">
                                            <img id="VoteImage2" src="@Html.DisplayFor(modelItem => item.Vote2.Image)" class="img-responsive" style="outline:1px solid gray;" />
                                            <div class="caption text-center">
                                                <div>
                                                    <div id="resultVote@(Html.DisplayFor(modelItem => item.Vote2Id))">
                                                        <b>
                                                            @Html.DisplayFor(modelItem => item.Vote2.VoteTitle)
                                                        </b>
                                                        <p>
                                                            @Html.Raw(""+ @vote2 + " ( "+ decimal.Round(vote2Procentage,1) + "% )")
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="likeShareFb" class="text-center">
                                        <div class="fb-like" data-href="@Request.Url.GetLeftPart(UriPartial.Path)Questionnaire/Details/@item.QuestionnaireId" data-width="100%" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-2"></div>
            </div>
    </tr>
}
<div class="thumbnail">
    <div id="pagination" class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>