@model DemoCreate.Models.Views.UserProfileViewModel

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <div>
                    <img src="@Model.AvatarPath" class="img-circle" style="width:168px;height:168px;" />
                    @Html.HiddenFor(h => h.AvatarPath)
                    <h3>@Html.DisplayFor(m => m.UserName, new { @class = "form-control" })</h3>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-6 text-right">@Html.LabelFor(m => m.Email, new { @class = "control-label" })</div>
                        <div class="col-lg-6 text-left">@Html.DisplayFor(m => m.Email, new { @class = "form-control" })</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-6 text-right">@Html.LabelFor(m => m.Gender, new { @class = "control-label" })</div>
                        <div class="col-lg-6 text-left">@Html.DisplayFor(m => m.Gender, new { @class = "form-control" })</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-6 text-right">@Html.LabelFor(m => m.Province, new { @class = "control-label" })</div>
                        <div class="col-lg-6 text-left">@Html.DisplayFor(m => m.Province.ProvinceName, new { @class = "form-control" })</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-6 text-right">@Html.LabelFor(m => m.AgeRange, new { @class = "control-label" })</div>
                        <div class="col-lg-6 text-left">@Html.DisplayFor(m => m.AgeRange.AgeRangeName, new { @class = "form-control" })</div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-6 text-right">@Html.LabelFor(m => m.Education, new { @class = "control-label" })</div>
                        <div class="col-lg-6 text-left">@Html.DisplayFor(m => m.Education.EducationName, new { @class = "form-control" })</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    @foreach (var item in Model.UserQuestionnaires.OrderByDescending(x=>x.TimeOfCreation))
                    {
                        <tr>
                            <td>
                                <div class="questionnaireListMiniature">
                                    <img src="@Html.DisplayFor(modelItem => item.Vote1.Image)" style="width:60px;height:60px;" />
                                    <img src="@Html.DisplayFor(modelItem => item.Vote2.Image)" style="width:60px;height:60px;" />
                                </div>
                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.Title )
                            </td>
                            <td style="vertical-align:middle">
                                @{
                                    var suma = item.Vote1.VotedUsers.Count() + item.Vote2.VotedUsers.Count();
                                }
                                @Html.Raw(@suma.ToString() + " głosów")
                            </td>
                            <td style="vertical-align:middle">
                                @Html.DisplayFor(modelItem => item.TimeOfCreation)
                            </td>
                            <td style="vertical-align:middle">
                                @*<a href="@Url.Action("Edit", "Jobs", new { id = item.QuestionnaireId })"><span class="glyphicon glyphicon-edit" style="color: gray"></span></a>*@
                                <a href="@Url.Action("Details", "Questionnaire", new { id = item.QuestionnaireId })"><span class="glyphicon glyphicon-info-sign" style="color: lightblue;"></span></a>
                                <a href="@Url.Action("Delete", "Questionnaire", new { id = item.QuestionnaireId })"><span class="glyphicon glyphicon-remove-sign" style="color: lightcoral"></span></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>

</div>
